html,
body {
	background-color: white;
}

/* Navbar Section */
#mainNavbar {
	font-family: 'Nunito', sans-serif;
}

#mainNavbar .navbar-brand:hover {
	color: cornflowerblue;
}

#mainNavbar .navbar-brand {
	color: white;
}

#mainNavbar .nav-link {
	color: white;
}

#mainNavbar .nav-link:hover {
	color: cornflowerblue;
}

#mainNavbar:hover {
	opacity: 0.9;
}

.dropdown-item:hover {
	color: cornflowerblue;
}

/* Jumbotron */

#trans {
	opacity: 0.7;
}
#header .lead {
	font-size: xx-large;
	font-family: 'Crimson Text', serif;
}
#header {
	background: url(https://images.unsplash.com/photo-1500989145603-8e7ef71d639e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80)
		center center / cover no-repeat;
	font-family: 'Crimson Text', serif;
}

.logo-image {
	width: 46px;
	height: 46px;
	border-radius: 50%;
	overflow: hidden;
	margin-top: -6px;
}

.myPicture {
	height: 280px;
	width: 200px;
	float: left;
	margin: 25px 10px;
	border: solid cornflowerblue;
	padding: 10px;
}

/* Under Jumbotron */
.name {
	font-size: large;
	font-weight: 800;
}

.iconColor {
	color: black;
}

#job {
	font-size: x-large;
}

/* After Intro-Paragraph */
#icons {
	font-size: 50px;
}

#icons .fa-html5:hover {
	color: orange;
}

#icons .fa-css3-alt:hover {
	color: blue;
}

#icons .fa-js-square:hover {
	color: yellow;
}

#icons .fa-bootstrap:hover {
	color: purple;
}

#icons .fa-react:hover {
	color: lime;
}

#icons .fa-file-word:hover {
	color: blue;
}

#icons .fa-adobe:hover {
	color: red;
}

#icons .fa-photo-video:hover {
	color: grey;
}

#icons .fa-camera:hover {
	color: rgb(240, 241, 127);
}

#icons .fa-file-powerpoint:hover {
	color: orangered;
}

#icons .fa-file-pdf:hover {
	color: red;
}

#icons .fa-university:hover {
	color: gold;
}

#icons .fa-git-square:hover {
	color: orange;
}

#icons .fa-file-excel:hover {
	color: green;
}

#icons .fa-coffee:hover {
	color: green;
}

#icons .fa-dumbbell:hover {
	color: gold;
}

/* Footer */

footer {
	padding: 70px;
}

#footer .fa-github {
	color: white;
}

#footer .fa-linkedin {
	color: white;
}

#footer .fa-twitter {
	color: white;
}

#footer .fa-github:hover {
	color: purple;
}

#footer .fa-linkedin:hover {
	color: blue;
}

#footer .fa-twitter:hover {
	color: cornflowerblue;
}
